/* Muli */
@font-face {
    font-family: 'Muli';
    src: url('./../assets/font/Muli/Muli-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Newzald Test */
@font-face {
    font-family: 'Newzald Test';
    src: url('./../assets/font/Newzald Test/NewzaldTest-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Newzald Test';
    src: url('./../assets/font/Newzald Test/NewzaldTest-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/* Lucida Grande */
@font-face {
    font-family: 'Lucida Grande';
    src: url('./../assets/font/Lucida Grande/LucidaGrande.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lucida Grande';
    src: url('./../assets/font/Lucida Grande/LucidaGrande-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}