@import 'variables.scss';
@import 'fonts.scss';
*{
    -webkit-font-smoothing: antialiased !important;
    font-smooth: almays;
    text-shadow: 0px 0px 1px transparent;
}
body, html{
    margin: 0;
    padding: 0;
}
body{
    font-family: Muli;
    overflow: hidden;
    &.full{
        overflow-y: auto;
        #intro{
            //top: -50px;
            opacity: 0;
            pointer-events: none;
            #sectionNext{
                h1, #gotoNext{
                    opacity: 0;
                }
                h1{
                    transform: translateY(-40px);
                }
                #gotoNext{
                    transform: translateY(15vh) !important;
                }
            }
            //filter: blur(40px);
        }
        #cover{
            img, h1, button{
                opacity: 1;
                transform: none;
            }
            h1::after{
                transform: scaleX(1);
            }
        }
    }
}
h1{
    font-family: Newzald Test;
    font-weight: 500;
    font-size: 114px;
}
h2{
    font-family: Newzald Test;
    font-weight: 500;
    font-size: 50px;
}
.quote{
    font-family: 'Lucida Grande';
    font-weight: bold;
}
a, button{
    outline: none;
    cursor: pointer;    
}
button{
    background: transparent; 
    border: none;
}
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-track{
	width: 15px;
    background-color: transparent;
    display: none;
}
::-webkit-scrollbar-button {
	background-color: #b57e75;
}
::-webkit-scrollbar-thumb{
	background-color: #b57e75;
}
::-webkit-scrollbar-thumb:active{
	background-color: #333;
}
.bg{
    background-position: center;
    background-size: cover;
}
.flex{
    display: flex;
}
#intro{
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    overflow-y: auto;

    background: black;
    
    transition: opacity 1s $curve;  
    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 500vh;
    }  
    section{
        width: 100%;
        height: 100vh;
        color: white;
    }
    #counter{
        position: fixed;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 9;        
        pointer-events: none;

        transition: filter 0.5s $curve, opacity 0.5s $curve 0.2s;
        .d3{
            width: 100%;
            height: 100%;
            position: absolute;
            background-position: center;
            background-size: cover;
            z-index: 0;
            opacity: 0.3;
            transition: transform 0.5s $curve;            
        }
        &, .d3{
            background-image: url('/assets/img/cover1.png');
            top: 0;
            left: 0;
        }
        .logo, .main-content{
            z-index: 3;
        }
        .logo{
            width: 70px;
            margin-right: 40px;
            margin-top: 40px;
            align-self: flex-end;
        }
        .main-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .circle{
                width: 450px;
                height: 450px;
                max-width: 60vh;
                max-height: 60vh;
                
                position: absolute;
                z-index: -1;
                transition: transform 0.5s $curve, opacity 0.5s $curve;                
                svg{
                    width: 100%;
                    height: 100%;
                    fill: none;
                    position: absolute;
                    overflow: visible;
                }
                .dashed{
                    stroke: #D0D0D0;
                    stroke-dasharray: 4 5;
                    opacity: 0.2;
                }
                .line-scroll{
                    stroke-width: 4;
                    transform: rotateX(180deg);
                }
            }
            h2{
                font-size: 50px;
            }
            .mouse{
                position: absolute;
                bottom: -80px;
                display: flex;
                flex-direction: column;
                align-items: center;

                svg{
                    fill: white;
                    min-height: 30px;
                    height: 30px;  
                    path:last-child{
                        animation: a-mouse 2s $curve infinite;                        
                    }                  
                }
                span{

                    font-size: 11px;
                    text-align: center;
                    letter-spacing: 1px;
                    opacity: 0.5;
                    margin-top: 15px;
                }
                @keyframes a-mouse{
                    0%{
                        opacity: 1;
                        transform: translateY(0px);
                    }
                    50%{
                        opacity: 0;
                        transform: translateY(-15px);              
                    }
                    65%{
                        opacity: 0;         
                    }
                    70%{
                        opacity: 1;
                        transform: translateY(15px);
                    }
                    90%{
                        opacity: 1;
                        transform: translateY(10px);
                    }
                    100%{
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }
        }
        .footer{
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.55;
            font-size: 10px;
            margin-bottom: 40px;
            img{
                height: 15px;
                margin-left: 10px;
            }
        }
        &.hide{
            //filter: blur(20px);
            opacity: 0;
            
            .main-content .circle{
                transform: scale(0.4);
                opacity: 0;
            }
        }
    }
    #sectionNext{
        position: fixed;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 8;
        .bg{
            width: 100%;
            height: 100vh;
            left: 0;
            z-index: 0;
            position: absolute;
            overflow: hidden;
            /*background-image: url('/assets/img/cover2.png');*/
            .gradient{
                width: 100%;
                height: 100vh;
                opacity: 0.2;
                position: absolute;
                z-index: 1;
                background: radial-gradient(540.00px at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                transition: all 0.5s $curve;
            }
            canvas{
                width: 100%;
                height: 100%;
                z-index: 0;                
            }
        }
        h1, button{
            z-index: 2;
            transition: opacity 0.5s $curve, transform 0.5s $curve;
        }
        h1{
            text-align: center;
            letter-spacing: -0.661333px;
            font-size: 80px;            
        }
        #gotoNext{
            width: 100px;
            height: 50px;
            transform: translateY(20vh);

            font-family: Newzald Test;
            font-weight: 500;
            font-size: 30px;
            text-align: center;
            color: inherit;
            transition-delay: 0.2s;
            &::after{
                content: '';
                width: 100%;
                height: 1px;
                background-color: white;
                display: block;
                margin-top: 5px;
                transform: scaleX(0);
                
                transition: transform 0.5s $curve;
            }
            &:hover{
                &::after{
                    transform: scaleX(0.75);
                }
                + .bg .gradient {
                    opacity: 0 !important;
                }
            }
        }
    }
}
#cover{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-image: url('/assets/img/cover3.png');  

    color: white;
    img, h1, button{
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 1.5s $curve, opacity 1.5s $curve;
    }
    img{
        width: 90px;
    }
    h1{
        margin-bottom: 0;
        margin-top: 30px;
        font-size: 144px;
        transition-delay: 0.3s;
        &::after {
            content: '';
            width: 100%;
            height: 6px;
            background-color: white;
            display: block;
            margin-top: -5%;
            transform: scaleX(0);
            transition: transform 1.5s $curve 0.6s;
        }
    }
    button{
        width: 40px;
        height: 60px;
        transition-delay: 0.9s;
        position: absolute;
        bottom: 60px;
        svg{
            fill: white;
        }
    }
}
#yamah{
    padding-top: 35vh;
    position: relative;
    color: map-get($colors, "blue");
    .flex{
        z-index: 3;
        position: relative;
        align-items: center;
        justify-content: flex-end;
        .text{
            position: absolute;
            left: calc(30% - 120px);
            z-index: 2;
            h2{
                font-size: 80px;
                line-height: 80px;
                margin-bottom: 39px;
                .quote:first-child{
                    position: absolute;
                    transform: translateX(-50px);
                }
            }
            p{
                font-size: 14px;
                margin: 0;
            }
        }
        .bg{
            width: 60vw;
            height: 80vh;
            background-image: url('/assets/img/UNFPA_Liberia_MIDWIVES_ElenaHeatherwick-9.png');
        }
    }
    .line{
        //width: 40px;
        height: 70vh;
        position: absolute;
        bottom: calc(50vh + 400px);
        left: calc(50% - 20px);
        z-index: 1;

        fill: map-get($colors, "pink");
        stroke-width: 1;
    }
    .full-width{
        width: 100%;
        height: 90vh;

        margin-top: 35vh;        

        text-align: center;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/assets/img/UNFPA_Liberia_MIDWIVES_ElenaHeatherwick-11.png');        
    }
}
#story{
    display: flex;
    justify-content: flex-end;
    p{
        margin: 180px 0;

        position: relative;
        right: 15%;

        font-family: Newzald Test;
        font-weight: 500;
        line-height: 70px;
        font-size: 50px;
        letter-spacing: -0.4px;
        color: map-get($colors, "blue");
        
        > span{
            display: block;
            opacity: 0;    
            transform: rotateZ(5deg) translateY(20px);
            transform-origin: 0 0;
            transition: opacity 1s $curve, transform 1s $curve;
            $delay: 0s;
            @for $i from 1 through 5{
                &:nth-child(#{$i}){
                    transition-delay: $delay;
                }
                $delay: $delay + 0.2;
            }

        }
        
        strong{
            color: map-get($colors, "pink");
            font-weight: inherit;
        }
    }
    &.show p > span{
        transform: none;
        opacity: 1;
    }
}
#slider{
    width: 60vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    .gradient{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;        
        z-index: 6;  
        background: linear-gradient(49.15deg, #0C1020 13.54%, rgba(12, 16, 32, 0) 71.47%);
   		transition: opacity 1.5s $curve;
    }
    .bg{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;        
        z-index: 3;        
        top: 0;   
   		transition: transform 30s $curve, opacity .5s $curve;
        &:nth-child(1){
            background-image: url('/assets/img/UNFPA_Liberia_MIDWIVES_ElenaHeatherwick-37.png');
        }
        &:nth-child(2){
            background-image: url('/assets/img/story2.png');
        }
        &:nth-child(3){
            background-image: url('/assets/img/cover2.png');
        }
        &:nth-child(4){
            background-image: url('/assets/img/UNFPA_Liberia_MIDWIVES_ElenaHeatherwick-9.png');
        }
        
        &.active{
            z-index: 5;
            transform: scale(1.3);
			opacity: 1 !important;
		}
		&.next{
			z-index: 4;
			opacity: 1;
		}
    }
    #nextSlide{
        position: absolute;
        z-index: 8;
        bottom: 60px;
        left: 20%;
        color: white;
        transition: opacity 0.5s;
        svg{
            width: 50px;
            height: 50px;
            fill: white;
            transition: all 0.5s $curve;
        }
        span{
            display: block;
            font-family: Newzald Test;
            font-weight: 500;
            font-size: 18px;
            margin-top: 10px;
            transition: transform 0.5s $curve 0.2s;

        }
        &:hover{
            opacity: 0.6;
            svg{
                transform: scale(0.8) translateX(10px);
            }
            span{
                transform: translateX(10px)
            }
            + .gradient{
                opacity: 1;
            }
        }
    }
}
#video{
    width: 70vw;
    height: 70vh;

    margin: 35vh auto;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/img/Screen Shot 2018-06-21 at 11.31.30 AM.png');
    background-color: black;
    
    .play{
        width: 100px;
        height: 100px;
        svg{
            width: 100%;
            height: 100%;
            stroke: white;
            fill: none;
            path{
                transition: all 0.5s $curve;
                transform-origin: center;
            }
            .circle{
                stroke-dasharray: 0;
                stroke-dashoffset: 0;
            }
        }
        &:hover{
            .circle{
                transform: scale(0.8);
                stroke-dasharray: 320;
                stroke-dashoffset: 320;
            }
            .arrow{
                fill: white;
                transform: scale(1.2);
            }
        }
    }
}
#support{
    width: 100%;
    height: 90vh;
    margin: 35vh auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    //background-image: url('/assets/img/Feder_-43.png');
    color: white;
    canvas{
        position: absolute;
        z-index: 0;
    }
    h5, .options{
        z-index: 2;
    }
    h5{
        font-family: Newzald Test;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        line-height: 35px;
        letter-spacing: -0.2px;

        margin-top: 0;
        margin-bottom: 80px;
    }
    .options{
        display: flex;
        align-items: center;
        button{
            width: 130px;
            height: 130px;
            border: 3px solid #FEFEFE;
            opacity: 0.47;     
            border-radius: 50%; 
            transition: all 0.5s $curve;
            span{
                font-family: Muli;
                font-size: 16px;
                text-align: center;
                color: white;
                display: inline-block;               
            }      
            &.active{
                opacity: 1;
                transform: scale(1.2);
            }
            &:last-child{
                margin-left: 50px;
            }
        }
    }
}
#safe{
    width: 230px;
    height: 230px;
    margin: 30vh auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #AFAFAF;
    border-radius: 50%;
    background-color: white;
    position: relative;

    span{
        font-family: Newzald Test;
        font-weight: 500;
        font-size: 28px;
        text-align: center;
        color: map-get($colors, "blue");
    }
    &::before, &::after{
        content: '';
        width: 100%;
        height: 100%;
        border: 1px solid #AFAFAF;   
        border-radius: 50%;      
        position: absolute;
        opacity: 0;
        transform: scale(0.4);
        @keyframes a-waves{
            0%{
                opacity: 0;
                transform: scale(0.4);
            }
            10%{
                opacity: 0;
                transform: scale(0.8);
            }
            50%{
                opacity: 1;
                transform: scale(1.2);                
            }
            70%{
                opacity: 0.6;
            }
            90%{
                transform: scale(1.5);
            }
            100%{
                opacity: 0;
                transform: scale(0.4);
            }
        }
    }
    &:hover{
        &::before, &::after{
            animation: a-waves 3s $curve infinite;
        }
        &::after{
            animation-delay: 1s;
        }
    }
}
footer{
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #A4A4A4;        
        span{
            display: block;
            font-size: 12px;
        }
        svg{
            width: 2px;
            height: 40px;
            margin: 10px 0;
            stroke: currentColor;
        }
    }
    .stories{
        width: 100%;
        height: 400px;
        display: flex;
        .story{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            overflow: hidden;
            h2{
                font-size: 30px;
                text-align: center;
                z-index: 3;
                transition: transform 0.5s $curve;                
            }
            &::after, &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 2;
                transition: all 0.5s $curve;
            }
            &::after{
                background-color: map-get($colors, "blue");
                opacity: 0.72;
            }
            &, &::before{
                background-position: center;
                background-size: cover;
            }
            &:first-child{
                &, &::before{
                    background-image: url('/assets/img/story1.png');                
                }
            }
            &:last-child{
                &, &::before{
                    background-image: url('/assets/img/story2.png');                                    
                }               
            }
            &:hover{
                &::after{
                    opacity: 0.9;
                }
                &::before{
                    opacity: 0.7;
                    transform: perspective(1000px) translate3d(4px, 5px, 0px) rotateX(4deg) rotateY(4deg) rotateZ(1deg);
                }
                h2{
                    transform: translateY(-15px);
                }
            }
        }
    }
}
@media (max-width: 550px){
    h1, h2{
        font-size: 35px !important;
        line-height: 35px !important;
    }
    #intro{
        #counter{
            &, .d3{
                background-position-x: 0%;
            }
            .logo{
                width: 58px;
                margin-right: 20px;
                margin-top: 20px;
            }
            .main-content{
                .circle{
                    width: 280px;
                    height: 280px
                }
                h2{
                    text-align: center;
                    max-width: 250px;
                }
                .mouse{
                    display: none;
                }
            }
            .footer{
                display: block;
                max-width: 290px;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 20px;
                img{
                    display: none;
                }
            }
        }
        #sectionNext{
            h1{
                max-width: 255px;
            }
            #gotoNext{
                width: 54px;
                font-size: 20px;
                &::after{
                    transform: scaleX(1);
                }
            }
        }
    }
    #cover{
        img, button{
            display: none;
        }
        h1::after{
            height: 3px;
        }
    }
    #yamah{
        padding-top: 0;
        .line{
            height: 300px;
            bottom: calc(50vh + 200px);
            left: calc(50% - 15px);
        }
        .flex{
            margin: 80px 0;            
            flex-direction: column;
            .text{
                position: static;
                margin-bottom: 40px;
                h2 .quote:first-child{
                    transform: translateX(-25px);
                }
            }
            .bg{
                display: none;
            }
        }
        .full-width{
            width: 100%;
            height: 70vh;
            margin: 0;
            h2{
                max-width: 300px;
            }
        }
    }
    #story {
        p{
            margin: 80px 0;
            line-height: 30px;
            font-size: 20px;
            position: static;
            margin-right: 20px !important;
        }
    }
    #slider{
        width: 100%;
        height: 70vh;
        #nextSlide{
            bottom: calc(50% - 55px / 2);
            right: 40px;
            left: auto;
            span{
                display: none;
            }
        }
    }
    #video{
        width: calc(100% - 40px);
        height: 149px;
        .play {
            width: 50px;
            height: 50px;
        }
    }
    #support{
        .options button{
            width: 80px;
            height: 80px;
            span{
                font-size: 10px;
            }
        }
    }
    #safe {
        width: 140px;
        height: 140px;
        margin: 80px auto;
        span{
            font-size: 20px;
        }
        &::before, &::after{
            animation: a-waves 3s $curve infinite;
        }
        &::after{
            animation-delay: 1s;
        }
    }
    footer .stories{
        height: 116px;
        .story{
            h2{
                font-size: 20px !important;
            }
        }
    }
}
@media (max-width: 450px){
    #intro{
        #counter{
            &, .d3{
                background-position-x: 20%;
            }
        }
    }
    #story p{
        margin: 80px 20px !important;
    }
    #support{
        h5{
            line-height: 18px;
            max-width: 255px;
        }
    }
}